@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#circle-shape-example { 
  font-family: Open Sans, sans-serif; 
  margin: 6rem; 
}
#circle-shape-example p { 
  line-height: 1.4; 
}
#circle-shape-example .curve { 
  width: 30%; height: auto;
  min-width: 150px;
  float: right;
  margin-right: 3rem; 
  border-radius: 35%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}