<footer class="page-footer font-small unique-color-dark ">
    <!-- Social buttons -->
    <div class="warning-color">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0" href="https://www.facebook.com/public/Linda-Boda/">
                        <i class="fab fa-facebook white-text mr-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic" href="https://twitter.com/home">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!--Google +-->
                    <!--Linkedin-->
                    <a class="li-ic" href="https://www.linkedin.com/in/linda-boda-a1499878/">
                        <i class="fab fa-linkedin white-text mr-4" > </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/">
                        <i class="fab fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Social buttons -->
    <!--Footer Links-->
   <div class="row">
       <div class="col-md-3">
           <h4>Location</h4>
        <i class="fas fa-map-marker-alt"></i><span>  Kangemi</span>
       </div>
       <div class="col-md-3">
        <h5>Our services</h5>
        <ul>
        <li>Food Delivery</li>
        <li>Package Delivery</li>
        <li>Parcel Delivery</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h5>Contact Us</h5>
        <i class="fas fa-mobile"></i><span> 0746170913</span>
    </div>
   </div>
    <!--/.Footer Links-->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <!-- <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a> -->
    </div>
    <script>
    </script>
    <!-- Copyright -->
</footer>