<br><br><br>
<h3 class=" why text-center">Why Linda Boda?</h3>
<div class="row" id="about">
    <div class="col-md-4">
        <div class="card">
            <h4 class="text-center">Safe</h4>
            <img src="/assets/images/boda2.jpeg">
            <p>Ride with trained, trusted Lindabodas, each equipped with a spare helmet and reflective jacket.You ride in style.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h4 class="text-center">Friendly</h4>
            <img src="/assets/images/boda1.jpeg">
            <p>When you choose Lindaboda you are quaranteed of a friendly rider who will keep you safe and entertained at the same time.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">            
            <h4 class="text-center">Convenient</h4>
            <img src="/assets/images/bodas1.jpeg">
            <p>You don't need to walk looking for Lindabodas driver, take out your phone and order from the confort of your zone.</p>
        </div> 
    </div>
</div>

