<h3 class=" why text-center">Why Linda Boda?</h3>
<div class="row" id="about">
    <div class="col-md-4">
        <div class="card">
            <h4 class="text-center">Safe</h4>
            <img src="/assets/images/boda2.jpeg">
            <p>Ride with trained, trusted Lindabodas, each equipped with a spare helmet and reflective jacket.You ride in style.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h4 class="text-center">Friendly</h4>
            <img src="/assets/images/boda1.jpeg">
            <p>When you choose Lindaboda you are quaranteed of a friendly rider who will keep you safe and entertained at the same time.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">            
            <h4 class="text-center">Convenient</h4>
            <img src="/assets/images/bodas1.jpeg">
            <p>You don't need to walk looking for Lindabodas driver, take out your phone and order from the confort of your zone.</p>
        </div> 
    </div>
</div>


<!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>
  
    <!-- Social login -->
    <p>or sign in with:</p>
  
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="github"></mdb-icon>
    </a>
  
  </form>
  <!-- Default form login -->