<h1 class="text-center text-warning"><strong>Welcome</strong></h1>

<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
<figure>
<img src="/assets/images/ugs.png" alt>
<img src="/assets/images/ugas.png" alt>
<img src="/assets/images/bodaboda3.jpg" alt>
<img src="/assets/images/ug.png" alt>
<img src="/assets/images/Safeboda.jpg" alt>
</figure>
</div>

<!-- Default form contact -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Order A ride </p>
  <!-- Name -->
  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <!-- Email -->
  <input type="number" id="defaultContactFormNumber" class="form-control mb-4" placeholder="Phone Number">

  <!-- County -->
  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="County">

<!-- Destination -->
<input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Destination">

 <!-- Copy -->
  <div class="row">
    <div class="col-md-6 mx-auto d-flex justify-content-center">
      <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>
    </div>
  </div>


  <!-- Send button -->
  <button class="btn btn-sm btn-info">Send</button>

</form>











