<br><br><br>
<!-- Default form login -->
<form class="text-center border border-light p-5" style="width: 45vw;">

    <p class="h4 mb-4">Sign Up</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder=" Confirm Password">
    
      <!-- Username -->
    <input type="username" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true"  class="btn btn-sm btn-info"  class="my-4" type="submit">Sign Up</button>
  
    <!-- Register -->
    <p>Have An Account?
      <a routerLink='register' href="#">Login</a>
    </p>
 
  </form>
  <!-- Default form login -->