
<br><br><br><br><br>
<!--Form with header-->
<div class="card signup col-md-3 pl-5" >
  <div class="card-block" style="width: 45;">

      <!--Header-->
      <div class="form-header blue-gradient">
          <h3><i class="fa fa-user"></i> Sign Up:</h3>
      </div>

      <!--Body-->
      <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input type="text" id="form3" class="form-control">
          <label for="form3">Your name</label>
      </div>
      <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form2" class="form-control">
          <label for="form2">Your email</label>
      </div>

      <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="form4" class="form-control">
          <label for="form4">Your password</label>
      </div>

      <div class="text-center">
        <a href="login" class="btn btn-sm btn-info">Sign Up</a>
          <!-- <button class="btn btn-indigo">Sign up</button> -->

          <hr>
          <fieldset class="form-group">
              <small>Have an account?<a href="login">Login</a></small>
            </fieldset>
      </div>

  </div>
</div>
<br><br><br>
<!--/Form with header-->